@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    overflow-x: hidden;
    pad: 20px;
}

.header {
    box-shadow: 0px 0.1rem 0.5rem #ccc;
    padding: 5px;
    margin: auto;
    
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1px;
   position: relative;
}

.titulo {
    font-family: 'Oswald';
    color:#F263C0 ;
    justify-content: start;
    text-align: start;
    flex-grow: 1;
    padding: 15px;
    
}

#titulo-info {
    font-family: 'Oswald';
    font-size: 50px;
    color: #B680A0;
}

.descricao{
    font-family: 'Oswald';
    text-align: justify;
    font-size: 20px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    right: 10px;
    padding: 1px;
    
}

.icocontainer {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    color: #B680A0;
    font-weight: bold;   
}

.icocontainer:hover {
    color: #F263C0;
}

.icone {
    width: 25px;
    height: auto;
    padding: 10px;
}

.infos {
    padding: 25px;
    padding-left: 10px;
    display: flex;
    gap: 8%;
   
}

#textinfo {
    width: 25%;
}

#logoprincipal {
    
    box-shadow: 1px 1px 5px #ccc;
    width: 600px;  
}


